repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: check-added-large-files
      exclude: ^data/
    - id: check-ast
    - id: check-json
    - id: check-merge-conflict
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
    - id: mixed-line-ending
      args: [ '--fix=auto' ]
- repo: https://github.com/pappasam/toml-sort
  rev: v0.24.3
  hooks:
    - id: toml-sort
      name: toml-sort
      entry: toml-sort
      args: [ --check ]
      language: python
      types: [ toml ]
    - id: toml-sort-fix
      name: toml-sort-fix
      entry: toml-sort
      args: [ --in-place ]
      language: python
      types: [ toml ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.10
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/NSPC911/ty-pre-commit
  # ty version.
  rev: v0.0.8
  hooks:
    # Run the linter.
    - id: ty-check
